@import "tailwindcss";

::-webkit-scrollbar{
  display: none;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  background-image: url(/Images/Gautam_Buddha_University.jpg);
  background-size: cover;
  background-position: center; 
}